<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

	<!-- Why Choose Us -->

	<div class="why mt-3 mb-3">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/why.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">simply amazing places</div>
					<div class="section_title"><h2>Why choose us?</h2></div>
				</div>
			</div>
			<div class="row why_row">

				<!-- Why item -->
                {% for i in p %}
				<div class="col-lg-4 why_col">
					<div class="why_item">
						<div class="why_image">
							<img src="{{i.image.url}}" height="250px" width="100%" alt="">
							<div class="why_icon d-flex flex-column align-items-center justify-content-center">
								<img src="images/why_3.svg" alt="">
							</div>
						</div>
						<div class="why_content text-center">
							<div class="why_title">{{i.name}}</div>
							<div class="why_text">
								<p>{{i.description}}</p>
							</div>
						</div>
					</div>
				</div>
                {% endfor %}

	<!-- Team -->

	<div class="team mt-3 mb-3">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle text-dark">simply amazing places</div>
					<div class="section_title text-dark"><h2>Meet the Team</h2></div>
				</div>
			</div>
			<div class="row team_row">

				<!-- Team Item -->
				{% for i in t %}
				<div class="col-xl-3 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img src="{{i.image.url}}" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#">{{i.name}}</a></div>
							<div class="team_text">
								<p>{{i.description}}</p>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>


			</div>
		</div>
	</div>


{% endblock %}


