<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<h2 class="text-center text-danger">Add Employee Details</h2>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container-fluid w-50 mx-auto">
  <div class="mb-3">
    <label class="form-label">Employee ID:</label>
    <input type="number" class="form-control" name="id">
  </div>
  <div class="mb-3">
  <label class="form-label">Employee Name:</label>
   <input type="text" class="form-control" name="n">
  </div>
    <div class="mb-3">
  <label class="form-label">Employee age:</label>
   <input type="number" class="form-control" name="a">
  </div>
  <div class="mb-3">
   <label class="form-label">Employee Salary:</label>
   <input type="number" class="form-control" name="s">
</div>
      <div class="mb-3">
   <label class="form-label">Employee Location:</label>
   <input type="text" class="form-control" name="l">
</div>

  <div class="mb-3">
   <label class="form-label">Employee Designation:</label>
   <input type="text" class="form-control" name="d">
</div>
   <div class="mb-3">
   <label class="form-label">Employee Image:</label>
   <input type="file" class="form-control" name="img">
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}