<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<h2 class="text-danger text-center">Movie List</h2>
<div class="container-fluid">
    <div class="row">
        {% for i in movie %}
        <div class="col-md-4">
            <div class="card m-5" style="width: 19rem;">
                <img class="card-img-top" height="400px" src="{{i.image.url}}"   >
                <div class="card-body">
                    <h5 class="card-title">{{i.title}}</h5>
                    <p class="card-text">{{i.year}}</p>
                    <a class="btn btn-primary" href="{% url 'details' i.id %}">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

