{% extends 'base.html' %}
{% block content %}
<div class="container w-25 border border-5 border-success bg-light p-4 mt-5 mx-auto">
    <h3 class="text-center text-decoration-underline">REGISTER</h3>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
  <label class="form-label">Username</label>
  <input type="text" class="form-control" name="u" placeholder="Enter the username">
    </div>
        <div class="mb-3">
  <label class="form-label">Password</label>
  <input type="password" class="form-control" name="p" placeholder="Enter the password">
        </div>
    <div class="mb-3">
  <label class="form-label">Confirm Password</label>
  <input type="password" class="form-control" name="cp" placeholder="Enter confirm password">
        </div>
    <div class="mb-3">
  <label class="form-label">Email</label>
  <input type="email" class="form-control" name="e" placeholder="Enter the email">
    </div>
    <div class="mb-3">
  <label class="form-label">First_name</label>
  <input type="text" class="form-control" name="f" placeholder="Enter the firstname">
    </div>
    <div class="mb-3">
  <label class="form-label">Last_name</label>
  <input type="text" class="form-control" name="l" placeholder="Enter the lastname">
    </div>
     <div class="mb-3">
  <label class="form-label">Phone_number</label>
  <input type="number" class="form-control" name="ph" placeholder="Enter phone number">
    </div>
    <label>Gender:</label>
    Male<input type="radio" name="g" value="Male">
    Female<input type="radio" name="g" value="Female"><br><br>
    <label>Role</label>
        <select name="r">
            <option value="student" >Student</option>
            <option value="teacher" >Teacher</option>
        </select><br><br>
    <div class="col-auto">
    <button type="submit" class="btn btn-success mb-3">Submit</button>
  </div>
     {% if messages %}
<ul class="messages fw-bold text-danger">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}></li>
    {% endfor %}
</ul>
{% endif %}
    </div>

</form>
    {% endblock %}