{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="POST" enctype="multipart/form-data" class="p-5">
    {% csrf_token %}
 <div class="mb-3 p-2">
    <label class="form-label">address</label>
   <textarea  class="form-control" name="u" placeholder="Enter the address"></textarea>
  </div>
 <div class="mb-3 p-2">
    <label class="form-label">phone</label>
    <input type="text" class="form-control" name="p" placeholder="Enter the phone number">
  </div>
 <div class="mb-3 p-2">
    <label class="form-label">pin</label>
    <input type="text" class="form-control" name="pi" placeholder="Enter the pin number">
  </div>
  <div class="mb-3 p-2">
      <button type="submit" class="btn btn-primary shadow-primary">Submit</button></div>
</form>
{% endblock %}




