{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- About Section -->

<section id="about" class="about section">

   <div class="container">

          <div class="row position-relative">

            <div class="col-lg-6 img" data-aos="zoom-out" data-aos-delay="200"><img src="{{n.image.url}}" height="550px" width="100%"></div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h1 class="inner-title">{{n.name}}</h1>
              <div class="our-story">
                <h3>{{n.price}}</h3>
                <h4>stock= {{n.stock}}</h4>
                <h6>{{n.available}},</h6>
                <h6>{{n.created}},</h6>
                <h6>{{n.updated}},</h6>
                <p>{{n.desc}}</p>

                <a  href="{% url 'cart:add_to_cart' n.id %}" class="btn" >Add_On_Cart</a>

                <div class="watch-video d-flex align-items-center position-relative">
                  <i class="bi bi-play-circle"></i>
                  <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox stretched-link">Watch Video</a>
                </div>
              </div>
            </div>

          </div>

        </div>

      </section><!-- /About Section -->


{% endblock %}